header h1 {
    text-align: center;
    color: rgb(208, 18, 52);
    
    font-family: Verdana;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#form-wrapper{
    border-top: solid;
    border-bottom: solid;
    border-width:thin;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

label{
    font-family: Verdana;
}

input{
  height: 40px;
  width: 100%;
  margin: 3px;
}
input[type=submit]{
    border: none;
    background-color: #2e824d;
    color: rgb(255, 255, 255);
    padding:3px;
    font-size: large;
    font-weight: bold;
}
form{
    margin: 10px auto 10px auto;
    width: 400px; 
    display: flex;
    flex-direction: column;
}